{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <h1 class="text-center">Detalhes do Equipamento {{ equipamento.nome }}</h1>
        <hr>

        <div class="col-md-6 col-md-offset-3 panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Número de Serie: </label>
                        {{ equipamento.num_serie }}
                    </div>
                    <div class="col-md-6">
                        <label>Registro Anvisa: </label>
                        {{ equipamento.reg_anvisa }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Data Fabricação: </label>
                        {{ equipamento.ano_fabricacao }}
                    </div>
                    <div class="col-md-6">
                        <label>Data Aquisição: </label>
                        {{ equipamento.data_aquisicao }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Fabricante: </label>
                        {{ equipamento.fabricante }}
                    </div>
                    <div class="col-md-6">
                        <label>Modelo: </label>
                        {{ equipamento.modelo }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Setor Alocação: </label>
                        {{ equipamento.setor }}
                    </div>
                    <div class="col-md-6">
                        <label>Responsável: </label>
                        <a href="/tecnico/detalhar/{{ equipamento.responsavel.id }}">{{ equipamento.responsavel }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Custo: </label>
                        {{ equipamento.custo }}
                    </div>
                    <div class="col-md-4">
                        <label>Manual: </label>
                        <a href="{{ equipamento.manual.url }}" target="_blank">Ver</a>
                    </div>
                    <div class="col-md-4">
                        <label>Contrato: </label>
                        <a href="/equipamento/contrato/detalhar/{{ equipamento.contrato.id }}">Ver</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Histórico: </label>
                        {{ equipamento.historico }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 class="text-center">Funcionários Qualificados para Operar</h1>
        <hr>

        <div class="col-md-6 col-md-offset-3">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Nome</th>
                </tr>
                {% for funcionario in equipamento.funcionarios_qualificados.all %}
                <tr>
                    <td>{{ funcionario.usuario.username }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
