{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Open CliEng</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'estilo/custom.min.css' %}">
        <link rel="stylesheet" href="{% static 'estilo/general.css' %}">
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Open CliEng</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Início</a>
                        </li>
                        <li>
                            <a href="#">Equipamentos</a>
                        </li>
                        <li>
                            <a href="#">Manutenções</a>
                        </li>
                        <li>
                            <a href="#">Locais</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" target="">Login</a></li>
                    </ul
                </div>
            </div>
        </div>


        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Copyright (c) 2017
                            <a href="https://github.com/Mazuh" target="_blank">Marcell G. C. da S.</a>,
                            <a href="https://github.com/Costams" target="_blank">Mateus S. C.</a>,
                            <a href="https://github.com/rodrigondec" target="_blank">Rodrigo N. de C.</a>
                        </p>
                        <p>
                            Código livre (MIT License): <a href="https://github.com/rodrigondec/Open_Clineng/" target="_blank">https://github.com/rodrigondec/Open_Clineng/</a>
                        </p>
                        <p>
                            Tema por: <a href="http://thomaspark.co" rel="nofollow" target="_blank">Thomas Park</a>
                            usando <a href="https://getbootstrap.com/" rel="nofollow" target="_blank">Bootstrap</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
